{% extends 'base.html' %}
{% load static %}
{% block title %}covert pdf to excel{% endblock title %}
{% block content %}
{% load custom_filters %}
<!-- image downloads -->
  <!--form section-->
  <div class="container-xxl py-5"><div class="container"><div class="text-center wow fadeInUp" data-wow-delay="0.1s"><h6 class="section-title bg-white text-center text-primary px-3">Upload pdf</h6><h1 class="mb-5">convert pdf file to excel and downloads automatic</h1><div class="row g-4"><div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s"></div><div class="col-lg-1 col-md-6 wow fadeInUp" data-wow-delay="0.3s">  </div><div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s"><div class="team-item bg-light"><div class="overflow-hidden"><h1>Upload pdf</h1><form action="{% url 'convert_pdf_to_excel' %}" method="post" enctype="multipart/form-data">{% csrf_token %}<input type="file" name="pdf_file" accept=".pdf" required></div><div class="text-center p-4"><h5 class="mb-0">Upload pdf</h5><small>convert pdf to xlsx and download automatic</small></div><button type="submit" class="btn btn-primary">Submit</button></form></div></div></div></div></div></div>
{% endblock %}