{% extends 'base.html' %}
{% load static %}
{% block title %}Remove-background{% endblock title %}
{% block content %}
{% if processed_image %}
<div class="container-xxl py-5">
  <div class="container">
      <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
          <h6 class="section-title bg-white text-center text-primary px-3">Image downloads</h6>
          <h1 class="mb-5">Remove background your image and download automatic</h1>
      <div class="row g-4">
          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
          </div>
          <div class="col-lg-1 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
          </div>
          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
              <div class="team-item bg-light">
                  <div class="overflow-hidden">
                      <img class="img-fluid" src="{{ processed_image.url }}" alt="Card image cap">
                  </div>
                  <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                  </div>
                  <div class="text-center p-4">
                    <a href="{% url 'process_image' %}" download class="btn btn-primary">Download</a> 
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
</div>
{% else %}
<div class="container-xxl py-5">
  <div class="container">
      <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
          <h6 class="section-title bg-white text-center text-primary px-3">Upload Image</h6>
          <h1 class="mb-5">Remove background your image and download automatic</h1>
      <div class="row g-4">
          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
          </div>
          <div class="col-lg-1 col-md-6 wow fadeInUp" data-wow-delay="0.3s">  
          </div>
          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
              <div class="team-item bg-light">
                  <div class="overflow-hidden">
                    <h1>Upload Image</h1>
                    <form method="post" enctype="multipart/form-data">
                      {% csrf_token %}
                    {{ form.as_p }}
                  </div>
                  <div class="text-center p-4">
                      <h5 class="mb-0">Upload Image</h5>
                      <small>Remove image background easy and download automatic</small>
                  </div>
                   <button type="submit" class="btn btn-primary">Submit</button>
                   </form>
              </div>
          </div>
      </div>
  </div>
</div>
</div>
{% endif %}
{% endblock %}