{% extends 'base.html' %}
{% load static %}
{% block title %}Image Watermark Remover{% endblock title %}
{% block content %}
{% load custom_filters %}
<!-- image downloads -->
{% if image %}
<div class="container-xxl py-5"><div class="container"><div class="text-center wow fadeInUp" data-wow-delay="0.1s"><h6 class="section-title bg-white text-center text-primary px-3">Image downloads</h6><h1 class="mb-5">Image Watermark Remover</h1><div class="row g-4"><div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s"></div><div class="col-lg-1 col-md-6 wow fadeInUp" data-wow-delay="0.3s"></div><div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s"><div class="team-item bg-light"><div class="overflow-hidden"><img class="img-fluid" src="data:image/png;base64,{{ image }}" alt="image_watermark"></div><div class="position-relative d-flex justify-content-center" style="margin-top: -23px;"></div><div class="text-center p-4"><h5 class="mb-0">Image Watermark:</h5></div><a id="downloadBtn" download="watermark_removed.png" class="btn btn-primary">Download</a></div></div></div></div></div></div>
{% else %}
  <!--form section-->
  <div class="container-xxl py-5"><div class="container"><div class="text-center wow fadeInUp" data-wow-delay="0.1s"><h6 class="section-title bg-white text-center text-primary px-3">Upload Image</h6><h1 class="mb-5">Image Watermark Remover</h1><div class="row g-4"><div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s"></div><div class="col-lg-1 col-md-6 wow fadeInUp" data-wow-delay="0.3s"></div><div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s"><div class="team-item bg-light"><div class="overflow-hidden"><h1>Upload Image</h1><form method="post" enctype="multipart/form-data">{% csrf_token %}<label>Input Image:</label> <input type="file" name="image" id="imageInput" required><br></div><br><button type="submit" class="btn btn-primary">Submit</button></form></div></div></div></div></div></div>
  <script>
        const img = document.getElementById('outputImage');
        const downloadBtn = document.getElementById('downloadBtn');

        downloadBtn.href = img.src;
    </script>
{% endif %}
{% endblock %}