{% extends 'base.html' %}
{% load static %}
{% block title %}QR Generator{% endblock title %}
{% block content %}
{% if qr_code %}
<div class="container-xxl py-5">
  <div class="container">
      <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
          <h6 class="section-title bg-white text-center text-primary px-3">QR Generator</h6>
          <h1 class="mb-5">Generate Qr Code for Any Url and Downloads</h1>
      <div class="row g-4">
          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
          </div>
          <div class="col-lg-1 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
          </div>
          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
              <div class="team-item bg-light">
                  <div class="overflow-hidden">
                      <img class="img-fluid" src="data:image/png;base64,{{ qr_code }}" alt="Card image cap">
                  </div>
                  <div class="position-relative d-flex justify-content-center" style="margin-top: -23px;">
                  </div>
                  <div class="text-center p-4">
                    <a href="data:image/png;base64,{{ qr_code }}" download="qrcode.png" class="btn btn-primary">Download</a> 
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
</div>
{% else %}
<div class="container-xxl py-5">
  <div class="container">
      <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
          <h6 class="section-title bg-white text-center text-primary px-3">QR Code Generator</h6>
          <h1 class="mb-5">Generate Qr Code for Any Url and Downloads </h1>
      <div class="row g-4">
          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
          </div>
          <div class="col-lg-1 col-md-6 wow fadeInUp" data-wow-delay="0.3s">  
          </div>
          <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
              <div class="team-item bg-light">
                  <div class="overflow-hidden">
                    <h1>QR Generator</h1>
                    <form method="post" action="{% url 'qr_generator' %}" enctype="multipart/form-data">
                        {% csrf_token %}
                     <label for="text">QR Generator</label>
                    <input type="text" name="url" placeholder="Enter url addr." required>
                  </div>
                  <div class="text-center p-4">
                      <h5 class="mb-0">QR Generator</h5>
                  </div>
                   <button type="submit" class="btn btn-primary">Submit</button>
                   </form>
              </div>
          </div>
      </div>
  </div>
</div>
</div>
{% endif %}
{% endblock %}