{% extends 'base.html' %}
{% load static %}
{% block title %}Home Codetool{% endblock title %}
{% block content %}
  <!-- Top Start -->
  <div class="container-fluid p-0 mb-5">
    <div class="container">
        <div class="row justify-content-start top">
            <div class="col-sm-10 pt-5 col-lg-8">
                <h1 class="display-3 text-dark">Our provide free tool <span class="colorchange">make life easy..</span></h1>
            </div>
        </div>
<!-- Top End -->
    <!-- Service Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center">
                <h1 class="mb-5">TOOL</h1>
                <p>it's simple use tool</p>
            </div>
            <div class="row g-4">
                <!-- image tool section start-->
			    <!-- image background remove -->
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="service-item text-center pt-3">
                        <div class="p-4">
                            <a href="{% url 'background-remove' %}"><i class="fa-solid fa-image fas fa-5x fa-graduation-cap mb-4" style="color: #1f5145;"></i></a>
                            <h5 class="mb-3">Image background remove</h5>
                            <p>Image tool</p>
                        </div>
                    </div>
                </div>
                <!-- image resize -->
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.3s">
                    <div class="service-item text-center pt-3">
                        <div class="p-4">
                            <a href="{% url 'image-resize' %}"><i class="fa-solid fa-image fas fa-5x mb-4" style="color: #DD1001;"></i></a>
						    <h5 class="mb-3">Image resizer</h5>
						    <p>Image tool</p>
                        </div>
                    </div>
                </div>
                <!--image resizer based height and width-->
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="service-item text-center pt-3">
                        <div class="p-4">
                            <a href="{% url 'resize_image' %}"><i class="fa-solid fa-image fas fa-5x mb-4" style="color: #D2FF08;"></i></a>
						    <h5 class="mb-3">Resize image height and width</h5>
						    <p>Image tool</p>
                        </div>
                    </div>
                </div>
                <!--covert image format jpg to png-->
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.5s">
                    <div class="service-item text-center pt-3">
                        <div class="p-4">
                            <a href="{% url 'uploadpng_image' %}"><i class="fa-solid fa-image fas fa-5x mb-4"  style="color: #19FF62;"></i></a>
                            <h5 class="mb-3">Convert image format to png</h5>
                            <p>Image tool</p>
                        </div>
                    </div>
                </div>
                <!--covert image format jpg-->
			    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
				<div class="service-item text-center pt-3">
					<div class="p-4">
						<a href="{% url 'uploadjpg_image' %}"><i class="fa-solid fa-image fas fa-5x mb-4" style="color: #73B9FF;"></i></a>
						<h5 class="mb-3">Convert image format to jpg</h5>
						<p>Image tool</p>
					</div>
				</div>
			   </div>
                <!--covert image to zip-->
			    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
				<div class="service-item text-center pt-3">
					<div class="p-4">
						<a href="{% url 'convertzip_and_download' %}"><i class="fa-solid fa-image fas fa-5x mb-4" style="color: #33282C;"></i></a>
						<h5 class="mb-3">Convert image to zip</h5>
						<p>Image tool</p>
					</div>
				</div>
			   </div>
               <!--extract zip file-->
			    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
				<div class="service-item text-center pt-3">
					<div class="p-4">
						<a href="{% url 'Extractzip' %}"><i class="fa-solid fa-image fas fa-5x mb-4" style="color: #f6b709;"></i></a>
						<h5 class="mb-3">Extract zip file</h5>
						<p>file(image) tool</p>
					</div>
				</div>
			   </div>
               <!--covert pdf format image-->
			    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                    <div class="service-item text-center pt-3">
                        <div class="p-4">
                            <a href="{% url 'pdf_to_image' %}"><i class="fa-solid fa-image fas fa-5x mb-4" style="color: #4d0000;"></i></a>
                            <h5 class="mb-3">Convert pdf to image</h5>
                            <p>Image tool</p>
                        </div>
                    </div>
                   </div>
			   <!-- image tool section end-->
			   <!-- pdf tool section start-->
			   <!--convert img to pdf-->
                 <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
				 <div class="service-item text-center pt-3">
					<div class="p-4">
						<a href="{% url 'convert_image_to_pdf' %}"><i class="fa-sharp fa-light fa-file fas fa-5x mb-4" style="color: #511f31;"></i></a>
						<h5 class="mb-3">Convert image to pdf</h5>
						<p>pdf tool</p>
					</div>
				 </div>
			     </div>
                 <!--combine image to pdf-->
                 <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                    <div class="service-item text-center pt-3">
                       <div class="p-4">
                           <a href="{% url 'combine_images_to_pdf' %}"><i class="fa-sharp fa-light fa-file fas fa-5x mb-4" style="color: #ffa500;"></i></a>
                           <h5 class="mb-3">Combine multiple image to pdf</h5>
                           <p>pdf tool</p>
                       </div>
                    </div>
                    </div>
                 <!--merge two pdf-->
			     <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
				 <div class="service-item text-center pt-3">
					<div class="p-4">
						<a href="{% url 'merge_pdfs' %}"><i class="fa-sharp fa-light fa-file fas fa-5x mb-4" style="color: #ff3d88;"></i></a>
						<h5 class="mb-3">Merge two pdf</h5>
						<p>pdf tool</p>
					</div>
				  </div>
			     </div>
                  <!--convert text file to pdf-->
			     <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                    <div class="service-item text-center pt-3">
                       <div class="p-4">
                           <a href="{% url 'text_to_pdf' %}"><i class="fa-sharp fa-light fa-file fas fa-5x mb-4" style="color: #fcffd8"></i></a>
                           <h5 class="mb-3">Convert text file to pdf</h5>
                           <p>pdf tool</p>
                       </div>
                     </div>
                    </div>
                     <!--convert excel file to pdf-->
			     <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                    <div class="service-item text-center pt-3">
                       <div class="p-4">
                           <a href="{% url 'excel_to_pdf' %}"><i class="fa-solid fa-file-excel fas fa-5x mb-4" style="color: #53e802;"></i></a>
                           <h5 class="mb-3">Convert excel file to pdf</h5>
                           <p>pdf tool</p>
                       </div>
                     </div>
                    </div>
                    <!--convert csv file to pdf-->
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                        <div class="service-item text-center pt-3">
                           <div class="p-4">
                               <a href="{% url 'convert_csv_to_pdf' %}"><i class="fa-solid fa-file-csv fas fa-5x mb-4" style="color: #5a44ca;"></i></a>
                               <h5 class="mb-3">Convert csv file to pdf</h5>
                               <p>pdf tool</p>
                           </div>
                         </div>
                        </div>
                     <!--convert ppt file to pdf-->
                     <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                        <div class="service-item text-center pt-3">
                           <div class="p-4">
                               <a href="{% url 'convert_ppt_to_pdf' %}"><i class="fa-sharp fa-light fa-file fas fa-5x mb-4" style="color: #ff1703"></i></a>
                               <h5 class="mb-3">Convert ppt file to pdf</h5>
                               <p>pdf tool</p>
                           </div>
                         </div>
                        </div>
                         <!--convert word file to pdf-->
                        <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                        <div class="service-item text-center pt-3">
                           <div class="p-4">
                               <a href="{% url 'convert_word_to_pdf' %}"><i class="fa-duotone fa-file-word fas fa-5x mb-4" style="color: #6ca3fc"></i></a>
                               <h5 class="mb-3">Convert Word file to pdf</h5>
                               <p>pdf tool</p>
                           </div>
                         </div>
                        </div>
                         <!--convert pdf file to word-->
                       <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                        <div class="service-item text-center pt-3">
                           <div class="p-4">
                               <a href="{% url 'pdf_to_word' %}"><i class="fa-sharp fa-light fa-file fas fa-5x mb-4" style="color: #15e6bf"></i></a>
                               <h5 class="mb-3">Convert pdf to word</h5>
                               <p>pdf tool</p>
                           </div>
                         </div>
                        </div>
                        <!--convert pdf file to ppt-->
                       <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                        <div class="service-item text-center pt-3">
                           <div class="p-4">
                               <a href="{% url 'convert_pdf_to_ppt' %}"><i class="fa-sharp fa-light fa-file fas fa-5x mb-4" style="color: #d93d32"></i></a>
                               <h5 class="mb-3">Convert pdf to ppt</h5>
                               <p>pdf tool</p>
                           </div>
                         </div>
                        </div>
                        <!--convert pdf file to excel-->
			          <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                      <div class="service-item text-center pt-3">
                       <div class="p-4">
                           <a href="{% url 'convert_pdf_to_excel' %}"><i class="fa-solid fa-file-excel fas fa-5x mb-4" style="color: #53e802;"></i></a>
                           <h5 class="mb-3">Convert pdf file to excel</h5>
                           <p>pdf tool</p>
                       </div>
                     </div>
                    </div>
                    <!--convert pdf file to csv-->
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                        <div class="service-item text-center pt-3">
                           <div class="p-4">
                               <a href="{% url 'pdf_to_csv' %}"><i class="fa-solid fa-file-csv fas fa-5x mb-4" style="color: #53e802;"></i></a>
                               <h5 class="mb-3">Convert pdf to csv</h5>
                               <p>pdf tool</p>
                           </div>
                         </div>
                        </div>
			       <!-- pdf tool end -->
                   <!-- other tool section start-->
                   <!--domain name info-->
			       <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
				  <div class="service-item text-center pt-3">
					<div class="p-4">
					<a href="{% url 'get_domain_info' %}"><i class="fa-solid fa-bars fas fa-5x mb-4" style="color: #00E0FF"></i></a>
						<h5 class="mb-3">Get domain information</h5>
						<p>Other tool</p>
					</div>
	          	</div>
			  </div>
              <!--country info-->
              <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="service-item text-center pt-3">
                  <div class="p-4">
                  <a href="{% url 'get_country_info' %}"><i class="fa-solid fa-globe fas fa-5x mb-4" style="color: #0dd3ff"></i></a>
                      <h5 class="mb-3">Get country information</h5>
                      <p>Other tool</p>
                  </div>
                </div>
            </div>
            <!--Convert video to audio-->
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="service-item text-center pt-3">
                  <div class="p-4">
                  <a href="{% url 'convert_video' %}"><i class="fa-solid fa-file-audio fas fa-5x mb-4" style="color: #ad2b75"></i></a>
                      <h5 class="mb-3">Convert video to audio</h5>
                      <p>Other tool</p>
                  </div>
                </div>
            </div>
             <!--url shortner-->
             <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="service-item text-center pt-3">
                  <div class="p-4">
                  <a href="{% url 'url_shortner' %}"><i class="fa-solid fa-pen fas fa-5x mb-4" style="color: #000000"></i></a>
                      <h5 class="mb-3">Url Shortner</h5>
                      <p>Other tool</p>
                  </div>
                </div>
            </div>
            <!--Ip Lookup-->
             <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="service-item text-center pt-3">
                  <div class="p-4">
                  <a href="{ url 'ip_lookup' %}"><i class="fas fa-street-view fas fa-5x mb-4" style="color: #000000"></i></a>
                      <h5 class="mb-3">IP Lookup</h5>
                      <p>Other tool</p>
                  </div>
                </div>
            </div>
            <!--QR Generator-->
            <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.7s">
                <div class="service-item text-center pt-3">
                  <div class="p-4">
                  <a href="{% url 'qr_generator' %}"><i class="fas fa-qrcode fas fa-5x mb-4" style="color: #000000"></i></a>
                      <h5 class="mb-3">QR Generator</h5>
                      <p>Other tool</p>
                  </div>
                </div>
            </div>
			<!-- other tool section end-->
<!-- Service End -->
   <!-- ser ourview Start -->
   <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
    <div class="container">
        <div class="text-center">
            <h1 class="mb-5">Tool ourview</h1>
        </div>
        <div class="owl-carousel testimonial-carousel position-relative">
            {% for i in service %}
            
            <div class="testimonial-item text-center">
                <img class="p-4 mx-auto mb-6" src="{{i.image.url}}">
                <h5 class="mb-0">{{i.name}}</h5>
                <div class="testimonial-text bg-light text-center p-4">
                <p class="mb-0">{{i.description|slice:"0:200"}}</p>
                <div class="col-12 center">
                    <br>
                    <a href="{{i.link}}" class="btn btn-primary text-center">More</a>
                </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div> 
<!--ser ourview end-->
<!-- Contact Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
               <!-- <h6 class="section-title bg-white text-center text-primary px-3">Contact Us</h6>-->
                <h1 class="mb-5">Send For Any Query</h1>
            </div>
            <div class="row g-4">
                <div class="col-lg-4 col-md-6 wow fadeInUp" data-wow-delay="0.1s"> 
                </div>
                <div class="col-lg-4 col-md-12 wow fadeInUp" data-wow-delay="0.5s">
				{% if msg %}
			    <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>{{ msg }}</strong>
                    <button class="type" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
			  {% endif %}
                    <form action="{% url 'clientreview' %}" method="post">
						{% csrf_token %}
                        <div class="row g-3">
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="text" class="form-control" name="name" id="name" placeholder="Your Name" required>
                                    <label for="name">Your Name</label>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-floating">
                                    <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" required>
                                    <label for="email">Your Email</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <textarea class="form-control" name="comment" required placeholder="Leave a message here" id="message" style="height: 150px"></textarea>
                                    <label for="message">Write your query</label>
                                </div>
                            </div>
                            <div class="col-12 center">
                                <button class="btn btn-primary text-center" type="submit">Send</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->  
{% endblock %}
    